<!--====== COFFEE PART START ======-->

<section id="coffee" class="coffee_area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-30">
                    <h4 class="title">Nuestros Productos</h4>
                    <span class="line">
                        <span class="box"></span>
                    </span>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <img class="rounded-circle" src="{{ asset("assets/images/coffee-1.jpg") }}" alt="Generic placeholder image">
                <h2>Sticks</h2>
                <p>Presentamos nuestros Sticks de Palo Santo.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Ver Productos &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="{{ asset("assets/images/coffee-2.jpg") }}" alt="Generic placeholder image">
                <h2>Chips</h2>
                <p>Presentamos nuestros Chips de Palo Santo.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Ver Productos &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="{{ asset("assets/images/coffee-3.jpg") }}" alt="Generic placeholder image">
                <h2>Aserr&iacute;n</h2>
                <p>Presentamos nuestro Aserr&iacute;n de Palo Santo.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Ver Productos &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="{{ asset("assets/images/coffee-4.jpg") }}" alt="Generic placeholder image">
                <h2>Micro polvo</h2>
                <p>Presentamos nuestro Micro polvo de Palo Santo.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Ver Productos &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="{{ asset("assets/images/coffee-5.jpg") }}" alt="Generic placeholder image">
                <h2>Varilla de incienso</h2>
                <p>Presentamos nuestras Varilla de incienso de Palo Santo.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Ver Productos &raquo;</a></p>
            </div><!-- /.col-lg-4 -->


{#            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single_coffee text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <div class="coffee_image">
                        <img src="{{ asset("assets/images/coffee-1.jpg") }}" alt="coffee">
                    </div>
                    <div class="coffee_content">
                        <h4 class="coffee_title">Cocktail</h4>
                        <p>Lorem Ipsum is fgrsimply dummy of the printing He is good mam industry been printing  good  industry .</p>
                    </div>
                </div> <!-- single coffee -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single_coffee text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <div class="coffee_image">
                        <img src="{{ asset("assets/images/coffee-2.jpg") }}" alt="coffee">
                    </div>
                    <div class="coffee_content">
                        <h4 class="coffee_title">Vanilla</h4>
                        <p>Lorem Ipsum is fgrsimply dummy of the printing He is good mam industry been printing  good  industry .</p>
                    </div>
                </div> <!-- single coffee -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single_coffee text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <div class="coffee_image">
                        <img src="{{ asset("assets/images/coffee-3.jpg") }}" alt="coffee">
                    </div>
                    <div class="coffee_content">
                        <h4 class="coffee_title">Black</h4>
                        <p>Lorem Ipsum is fgrsimply dummy of the printing He is good mam industry been printing  good  industry .</p>
                    </div>
                </div> <!-- single coffee -->
            </div>#}
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== COFFEE PART ENDS ======-->